<style>
  .footer{
    position:fixed;
    top: 90vh;
    width: 100%;
    left:0;
    height:10vh;
    background-color: #343a40;
    color: white;
    padding: 20px;
    text-align: center;
  }
</style>

<footer class="bg-dark text-white py-3 footer">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <!-- Owner name -->
                <p>Owner: John Doe</p>
            </div>
            <div class="col-md-4">
                <!-- Copyright statement -->
                <p>&copy; 2024 Home Grocery Shop. All rights reserved.</p>
            </div>
            <div class="col-md-4">
                <!-- Social media links -->
                <div class="social-links">
                    <a href="https://twitter.com/your-twitter-handle" target="_blank"><i class="fab fa-twitter"></i></a>
                    <a href="https://www.facebook.com/your-facebook-page" target="_blank"><i class="fab fa-facebook"></i></a>
                    <a href="https://www.youtube.com/your-channel" target="_blank"><i class="fab fa-youtube"></i></a>
                    <a href="https://www.instagram.com/your-instagram-account" target="_blank"><i class="fab fa-instagram"></i></a>
                </div>
            </div>
        </div>
    </div>
</footer>
